a{
    display: flex;
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
    margin-right: -10px;
    padding: 7px 5px 5px 15px;
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
}
.images{
    display: flex;
    justify-content: center;
}
body{
    background-color: antiquewhite;
}